<html>
    <head>
        <title>Presitge worldwide</title>
    </head>
    <body>
        <div>
            <h1><a href="">Presitge worldwide</a></h1>
        </div>

        <div>
            <p>published: 30.03.2017  15:05</p>
            <h2><a href="">Brief instruction on registration </a></h2>
            <p>Go to Posts and experiment a little bit with it. Add five or six blog posts. Don't worry about the content – you can simply copy-paste some text from this tutorial to save time. :)</p>
        </div>

        <div>
            <p>published: 31.03.2017, 10:16</p>
            <h2><a href="">How to register the accommodation</a></h2>
            <p>Go to Posts and experiment a little bit with it. Add five or six blog posts. Don't worry about the content – you can simply copy-paste some text from this tutorial to save time. :)</p>
        </div>
    </body>
</html>
